.drug-badge {
    color: gray;
}

.iupac {
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.molecule {
    background-color: transparent;
    border: none;
    width: 20em;
    height: auto;
}

.drug-description-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}