# Git
.git/
../.gitignore
README.md

# Node
node_modules/
build/
dist/
backup/

# Yarn
.yarnclean

# Docker
Dockerfile.dev
Dockerfile.prod
compose.yml
.dockerignore

# Python
api/

# Prettier
.prettierignore
.prettierrc